In [18]:
# Import libraries
import numpy as np
import pandas as pd
import datetime as dt

from sklearn.model_selection import train_test_split

In [19]:
# Get data
train_path = '../data/train.csv'
store_path = '../data/store.csv'

In [20]:
train = pd.read_csv(train_path)
store = pd.read_csv(store_path)

c:\users\sheon\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [21]:
a = {"Store":1111,
"DayOfWeek":4,
"Date":"2014-07-10",
"Sales":4507,
"Customers":410,
"Open":1,
"Promo":0,
"StateHoliday":"0",
"SchoolHoliday":1}
snippet = pd.DataFrame(a, index=[0])
snippet

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1111,4,2014-07-10,4507,410,1,0,0,1

In [22]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [23]:
snippet['Store'] = snippet['Store'].astype(int)
snippet['DayOfWeek'] = snippet['DayOfWeek'].astype(int)
snippet['Date'] = snippet['Date'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d'))
snippet['Sales'] = snippet['Sales'].astype(float)
snippet['Customers'] = snippet['Customers'].astype(int)
snippet['Open'] = snippet['Open'].astype(int)
snippet['Promo'] = snippet['Promo'].astype(int)
snippet['StateHoliday'] = snippet['StateHoliday'].astype(int)
snippet['SchoolHoliday'] = snippet['SchoolHoliday'].astype(str)

In [24]:
snippet = pd.merge(snippet, store, on='Store', how='left')
snippet

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1111,4,2014-07-10,4507.0,410,1,0,0,1,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"

In [28]:
snippet[['Sales']]

    Sales
0  4507.0

## Prepare train dataset

In [41]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 914629 entries, 0 to 914628
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Store          914629 non-null  int64
 1   DayOfWeek      914629 non-null  int64
 2   Date           914629 non-null  object
 3   Sales          914629 non-null  int64
 4   Customers      914629 non-null  int64
 5   Open           914629 non-null  int64
 6   Promo          914629 non-null  int64
 7   StateHoliday   914629 non-null  object
 8   SchoolHoliday  914629 non-null  int64
dtypes: int64(7), object(2)
memory usage: 62.8+ MB

In [4]:
# Drop records with Open==0 and Customers==0
# No customers or when closed would mean 0 sales

train = train.drop(train[train['Open']==0].index)
train = train.drop(train[train['Customers']==0].index)

In [5]:
# Change datatypes
# Date to datetime object
# Sales to float

train['Date'] = train['Date'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d'))
train['Sales'] = train['Sales'].astype(float)

In [6]:
# Clean fields

train['StateHoliday'] = train['StateHoliday'].replace(0, '0')

## Prepare store dataset

In [45]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [7]:
# Clean change datatype of 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear'

store['CompetitionOpenSinceMonth'] = store['CompetitionOpenSinceMonth'].fillna(0)
store['CompetitionOpenSinceYear'] = store['CompetitionOpenSinceYear'].fillna(0)

store['CompetitionOpenSinceMonth'] = store['CompetitionOpenSinceMonth'].astype(int)
store['CompetitionOpenSinceYear'] = store['CompetitionOpenSinceYear'].astype(int)

store['CompetitionOpenSinceMonth'] = store['CompetitionOpenSinceMonth'].astype(str)
store['CompetitionOpenSinceYear'] = store['CompetitionOpenSinceYear'].astype(str)

store['CompetitionOpenSinceMonth'] = store['CompetitionOpenSinceMonth'].str.pad(width=2, side='left', fillchar='0')

store['CompetitionOpenSinceMonth'] = store['CompetitionOpenSinceMonth'].replace('00', '01')
store['CompetitionOpenSinceYear'] = store['CompetitionOpenSinceYear'].replace('0', '1800')

store['CompetitionOpenSince'] = store['CompetitionOpenSinceMonth']+'_'+store['CompetitionOpenSinceYear']

store['CompetitionOpenSince'] = store['CompetitionOpenSince'].apply(lambda x: dt.datetime.strptime(x, '%m_%Y'))

In [8]:
# Clean change datatype of 'Promo2SinceMonth', 'Promo2SinceYear'

store['Promo2SinceWeek'] = store['Promo2SinceWeek'].fillna(0)
store['Promo2SinceYear'] = store['Promo2SinceYear'].fillna(0)

store['Promo2SinceWeek'] = store['Promo2SinceWeek'].astype(int)
store['Promo2SinceYear'] = store['Promo2SinceYear'].astype(int)

store['Promo2SinceWeek'] = store['Promo2SinceWeek'].astype(str)
store['Promo2SinceYear'] = store['Promo2SinceYear'].astype(str)

store['Promo2SinceWeek'] = store['Promo2SinceWeek'].str.pad(width=2, side='left', fillchar='0')

store['Promo2SinceWeek'] = store['Promo2SinceWeek'].replace('00', '01')
store['Promo2SinceYear'] = store['Promo2SinceYear'].replace('0', '1800')

store['Promo2Since'] = store['Promo2SinceWeek']+'_'+store['Promo2SinceYear']+' SUN'

store['Promo2Since'] = store['Promo2Since'].apply(lambda x: dt.datetime.strptime(x, '%U_%Y %a'))

In [9]:
# Clean 'PromoInterval'. Replace all Nan to 'None'
store['PromoInterval'] = store['PromoInterval'].fillna('None')

In [10]:
store['CompetitionDistance'] = store['CompetitionDistance'].fillna(0)

## Join train and store

In [11]:
data = pd.merge(train, store, on='Store', how='left')

In [14]:
# Create 'DaysSinceCompetitionOpen' feature

data['DaysSinceCompetitionOpen'] = data.apply(lambda x: 0 if x['CompetitionOpenSince'].year<=dt.date(1800, 12, 31).year else (0 if (x['Date'] <= x['CompetitionOpenSince']) else (x['Date']-x['CompetitionOpenSince']).days), axis=1)

In [15]:
# Create 'DaysSincePromo2' feature

data['DaysSincePromo2'] = data.apply(lambda x: 0 if x['Promo2Since'].year<=dt.date(1800, 12, 31).year else (0 if (x['Date'] <= x['Promo2Since']) else (x['Date']-x['Promo2Since']).days), axis=1)

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 759850 entries, 0 to 759849
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Store                      759850 non-null  int64
 1   DayOfWeek                  759850 non-null  int64
 2   Date                       759850 non-null  datetime64[ns]
 3   Sales                      759850 non-null  float64
 4   Customers                  759850 non-null  int64
 5   Open                       759850 non-null  int64
 6   Promo                      759850 non-null  int64
 7   StateHoliday               759850 non-null  object
 8   SchoolHoliday              759850 non-null  int64
 9   StoreType                  759850 non-null  object
 10  Assortment                 759850 non-null  object
 11  CompetitionDistance        759850 non-null  float64
 12  CompetitionOpenSinceMonth  759850 non-null  object
 13  CompetitionOpenSinceYear   759850 non-null  object
 14  Promo2                     759850 non-null  int64
 15  Promo2SinceWeek            759850 non-null  object
 16  Promo2SinceYear            759850 non-null  object
 17  PromoInterval              759850 non-null  object
 18  CompetitionOpenSince       759850 non-null  datetime64[ns]
 19  Promo2Since                759850 non-null  datetime64[ns]
 20  DaysSinceCompetitionOpen   759850 non-null  int64
 21  DaysSincePromo2            759850 non-null  int64
dtypes: datetime64[ns](3), float64(2), int64(9), object(8)
memory usage: 133.3+ MB

In [54]:
data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,CompetitionOpenSince,Promo2Since,DaysSinceCompetitionOpen,DaysSincePromo2
0,1,4,2015-04-30,6228.0,650,1,1,0,0,c,...,09,2008,0,01,1800,None,2008-09-01,1800-01-05,2432,0
1,2,4,2015-04-30,6884.0,716,1,1,0,0,a,...,11,2007,1,13,2010,"Jan,Apr,Jul,Oct",2007-11-01,2010-03-28,2737,1859
2,3,4,2015-04-30,9971.0,979,1,1,0,0,a,...,12,2006,1,14,2011,"Jan,Apr,Jul,Oct",2006-12-01,2011-04-03,3072,1488
3,4,4,2015-04-30,16106.0,1854,1,1,0,0,c,...,09,2009,0,01,1800,None,2009-09-01,1800-01-05,2067,0
4,5,4,2015-04-30,6598.0,729,1,1,0,0,a,...,04,2015,0,01,1800,None,2015-04-01,1800-01-05,29,0

In [16]:
for_model = data[['Store', 'DayOfWeek', 'Sales', 
                  'Customers', 'Promo', 'StateHoliday', 
                  'SchoolHoliday', 'StoreType', 'Assortment',
                  'CompetitionDistance', 'Promo2', 'DaysSinceCompetitionOpen',
                  'DaysSincePromo2']]

In [ ]:
new_df = pd.DataFrame()
store1 = for_model[for_model['Store']==1]
store1 = store1.sort_values('Date', ascending=True)

In [21]:
store1['prev_sales'] = store1['Sales'].shift(1)

In [22]:
store1 = store1.dropna()

In [23]:
new_df = new_df.append(store1)

In [24]:
new_df

,Store,Date,Sales,Customers,Promo,StateHoliday,StoreType,prev_sales
757613,1,2013-01-03,4327.0,578,0,0,c,5530.0
756505,1,2013-01-04,4486.0,619,0,0,c,4327.0
755398,1,2013-01-05,4997.0,635,0,0,c,4486.0
754273,1,2013-01-07,7176.0,785,1,0,c,4997.0
753168,1,2013-01-08,5580.0,654,1,0,c,7176.0
...,...,...,...,...,...,...,...,...
4491,1,2015-04-25,4318.0,537,0,0,c,3198.0
3344,1,2015-04-27,5575.0,574,1,0,c,4318.0
2230,1,2015-04-28,5199.0,552,1,0,c,5575.0
1115,1,2015-04-29,5775.0,579,1,0,c,5199.0
0,1,2015-04-30,6228.0,650,1,0,c,5775.0

In [25]:
new_df = pd.DataFrame()

for store in for_model['Store'].unique():
    curr_store = for_model[for_model['Store']==store]
    curr_store = curr_store.sort_values('Date', ascending=True)
    curr_store['prev_sales'] = curr_store['Sales'].shift(1)
    curr_store = curr_store.dropna()
    
    new_df = new_df.append(curr_store)

In [26]:
new_df

,Store,Date,Sales,Customers,Promo,StateHoliday,StoreType,prev_sales
757613,1,2013-01-03,4327.0,578,0,0,c,5530.0
756505,1,2013-01-04,4486.0,619,0,0,c,4327.0
755398,1,2013-01-05,4997.0,635,0,0,c,4486.0
754273,1,2013-01-07,7176.0,785,1,0,c,4997.0
753168,1,2013-01-08,5580.0,654,1,0,c,7176.0
...,...,...,...,...,...,...,...,...
5605,1115,2015-04-25,7620.0,549,0,0,d,5245.0
4458,1115,2015-04-27,10211.0,578,1,0,d,7620.0
3343,1115,2015-04-28,7287.0,481,1,0,d,10211.0
2229,1115,2015-04-29,8148.0,518,1,0,d,7287.0
1114,1115,2015-04-30,9598.0,623,1,0,d,8148.0

In [17]:
for_model = pd.get_dummies(for_model, 
                           columns=['StateHoliday', 'StoreType', 'Assortment'],
                           drop_first=True)

In [58]:
for_model = for_model.sort_index()

In [29]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 758735 entries, 0 to 759814
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Store           758735 non-null  int64
 1   Date            758735 non-null  datetime64[ns]
 2   Sales           758735 non-null  float64
 3   Customers       758735 non-null  int64
 4   Promo           758735 non-null  int64
 5   prev_sales      758735 non-null  float64
 6   StateHoliday_a  758735 non-null  uint8
 7   StateHoliday_b  758735 non-null  uint8
 8   StateHoliday_c  758735 non-null  uint8
 9   StoreType_b     758735 non-null  uint8
 10  StoreType_c     758735 non-null  uint8
 11  StoreType_d     758735 non-null  uint8
dtypes: datetime64[ns](1), float64(2), int64(3), uint8(6)
memory usage: 44.9 MB

In [18]:
X = for_model.drop(['Store', 'Sales'], axis=1)
y = for_model[['Sales']]

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [32]:
stores = list(new_df['Store'].unique())

In [33]:
import random

train_prop = int(0.7*len(stores))
print(train_prop)

train_list = random.sample(stores, train_prop)
test_list = []

for store in stores:
    if store not in train_list:
        test_list.append(store)

print(len(test_list))
print(str(len(test_list)+len(train_list)))

780
335
1115

In [38]:
train_df = pd.DataFrame()
test_df = pd.DataFrame()

for store in train_list:
    temp_df = new_df[new_df['Store']==store]
    train_df = train_df.append(temp_df)
    
for store in test_list:
    temp_df = new_df[new_df['Store']==store]
    test_df = test_df.append(temp_df)

## Linear Regression

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
print(lin_reg.score(X_train, y_train))
lin_pred = lin_reg.predict(X_test)
print(lin_reg.score(X_test, y_test))
print(mean_squared_error(y_test, lin_pred))

0.8268345876007345
0.8271261734972541
1665685.9621679408

## K Nearest Neighbors Regression

In [25]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

knn_reg = KNeighborsRegressor()
knn_reg.fit(X_train, y_train)

KNeighborsRegressor()

In [26]:
knn_reg.score(X_train, y_train)

0.9598710048969203

In [27]:
knn_pred = knn_reg.predict(X_test)

In [28]:
knn_reg.score(X_test, y_test)

0.9380344063076282

In [29]:
mean_squared_error(y_test, knn_pred)

597055.2144233731

## Decision Tree Regression

In [21]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

tree_reg = DecisionTreeRegressor()
tree_reg.fit(X_train, y_train)
print(tree_reg.score(X_train, y_train))
tree_pred = tree_reg.predict(X_test)
print(tree_reg.score(X_test, y_test))
print(mean_squared_error(y_test, tree_pred))

0.9997838223829395
0.9418350714218607
565175.2654842159

## Random Forest Regression

In [22]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor()
forest_reg.fit(X_train, y_train)
print(forest_reg.score(X_train, y_train))
forest_pred = forest_reg.predict(X_test)
print(forest_reg.score(X_test, y_test))
print(mean_squared_error(y_test, forest_pred))

<ipython-input-22-f1a5d40604b6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  forest_reg.fit(X_train, y_train)

0.9954512301712277
0.9691108775145172
300142.5159123904

In [68]:
import pickle
import joblib

joblib.dump(forest_reg, '../model/compressed_rf_sales.pkl', compress=5)

# model_filename = '../model/sales_model.pkl'
# pickle.dump(forest_reg, open(model_filename, 'wb'))

['../model/compressed_rf_sales.pkl']

In [30]:
# orig = joblib.load('../model/compressed_rf_sales.pkl')
pkl_pred = orig.predict(X_test)
print(mean_squared_error(y_test, pkl_pred))

NameError: name 'orig' is not defined

In [29]:
pkl2 = pickle.load(open('../model/sales_model.pkl', 'rb'))
pkl2_pred = pkl2.predict(X_test)
print(mean_squared_error(y_test, pkl2_pred))

NameError: name 'pickle' is not defined

## Gradient Boosting

In [280]:
from sklearn.ensemble import GradientBoostingRegressor

gb_reg = GradientBoostingRegressor()
gb_reg.fit(X_train, y_train)
print("train r2: " + str(gb_reg.score(X_train, y_train)))
gb_pred = gb_reg.predict(X_test)
print("test r2: "+ str(gb_reg.score(X_test, y_test)))
print("mse: " + str(mean_squared_error(y_test, gb_pred)))

c:\users\sheon\appdata\local\programs\python\python38\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

train r2: 0.870451667080314
test r2: 0.8699319022940883
mse: 1259249.5554722194

## XGBoost

In [281]:
import xgboost as xgb

param = {'booster': 'gbtree',
         'eta': 0.3,
         'max_depth': 6,
         'subsample': 0.7,
         'colsample_bytree': 0.7,
         'eval_metric':'rmse'}

In [282]:
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

In [283]:
xgb_reg = xgb.train(param, dtrain)

In [284]:
xgb_pred = xgb_reg.predict(dtest)

In [285]:
mean_squared_error(y_test, xgb_pred)

1317875.2756795709

## LSTM

In [64]:
X_train = train_df.drop(['Sales', 'Date', 'Store'], axis=1)
y_train = train_df[['Sales']]
X_test = test_df.drop(['Sales', 'Date', 'Store'], axis=1)
y_test = test_df[['Sales']]

In [65]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [70]:
X_train.shape
X_test.shape

(228831, 9)

In [72]:
X_train = X_train.reshape(X_train.shape[0], 1, X_train.shape[1])
X_test = X_test.reshape(X_test.shape[0], 1, X_test.shape[1])

In [73]:
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.optimizers import Adam
from keras.callbacks import EarlyStopping
from keras.utils import np_utils
from keras.layers import LSTM
from sklearn.model_selection import KFold, cross_val_score, train_test_split

In [74]:
model = Sequential()
model.add(LSTM(4, batch_input_shape=(1, X_train.shape[1], X_train.shape[2]), stateful=True))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(X_train, y_train, epochs=10, batch_size=10, verbose=1, shuffle=False)

Epoch 1/10
52991/52991 [==============================] - 36s 671us/step - loss: 56703144.0000
Epoch 2/10
52991/52991 [==============================] - 37s 695us/step - loss: 53368136.0000
Epoch 3/10
52991/52991 [==============================] - 35s 667us/step - loss: 50171412.0000
Epoch 4/10
52991/52991 [==============================] - 36s 686us/step - loss: 47112292.0000
Epoch 5/10
52991/52991 [==============================] - 35s 663us/step - loss: 44189780.0000
Epoch 6/10
52991/52991 [==============================] - 35s 653us/step - loss: 41404376.0000
Epoch 7/10
52991/52991 [==============================] - 35s 658us/step - loss: 38754512.0000
Epoch 8/10
52991/52991 [==============================] - 35s 661us/step - loss: 36240576.0000
Epoch 9/10
52991/52991 [==============================] - 35s 653us/step - loss: 33861464.0000
Epoch 10/10
52991/52991 [==============================] - 35s 655us/step - loss: 31615988.0000